.post {
  width: 385px;
  margin: 0px 25px 40px 25px;
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
  margin: 20px; /* Adding space around each post */
  background-color: cream;
}

.postImg {
  width: 450px;
  height: 280px;
  object-fit: cover;
  border-radius: 7px;
  padding: 0;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postCat {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #be9656;
  line-height: 22px;
  margin-top: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.postTitle {
  font-family: "Rajdhani", sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin-top: 15px;
  cursor: pointer;
  color: #003d73;
  text-decoration: none;
  color: inherit;
}
.link {
  text-decoration: none;
}

.postDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  color: #999999;
  margin-top: 15px;
}

.postDesc {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #444444;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
