.header {
  margin-top: 30px;
}
.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Rajdhani", sans-serif;
  color: #444;
}
.headerSubtitle1 {
  position: absolute;
  top: 20%;
  font-size: 18px;
}
.headerSubtitle2 {
  position: absolute;
  top: 23%;
  font-size: 100px;
}
.headerimg {
  width: 100%;
  height: 450px;
  margin-top: 80px;
  object-fit: cover;
}
