.About {
  margin-top: 60px;
}

.AboutTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0a4e70;
  font-family: "Rajdhani", sans-serif;
  animation: waveMotion 3s infinite ease-in-out;
}

@keyframes waveMotion {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjusting for wave height */
  }
}
.AboutTitles:hover {
  color: #3084ae;
}

.AboutTitleSm {
  position: absolute;
  top: 14%;
  font-size: 30px;
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
}

.AboutTitleLg {
  position: absolute;
  top: 18%;
  font-size: 100px;
  font-family: "Rajdhani", sans-serif;
  margin-top: 8px;
}

.AboutImg {
  width: 110%; /* Increase width beyond the container */
  height: 600px;
  margin-top: 42px;
  object-fit: cover;
  object-position: top;
}
