.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #005bb5;
  height: 35px; /* Make the container thinner */
  padding: 0px;
  border-radius: 0px;
  margin: 0; /*2*/
  border: none;
  outline: none;
}

.search-input {
  width: 200px; /* Adjust width to make it thinner */
  padding: 5px;
  border: 1px solid #6ee2f5;
  border-radius: 5px;
  font-size: 12px; /* Smaller font size */
}

.search-button {
  padding: 5px 10px; /* Smaller padding for compact look */
  background-color: #0077ff;
  font-size: 12px;
  margin-left: 5px; /* Less margin for compact spacing */
  border-radius: 5px;
}
